{% extends 'base.html.twig' %}



{% block body %}

<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 m12">
                <h1>Ajout de voiture</h1>
                <a href="{{ path('home') }}">Acceuil</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}
